*:focus {
    outline: none;
}
* {
    font-family: 'Kite One', sans-serif;
}
body {
    transition: .5s;    
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #6e72fc;
    border-radius: 10px;
}
.letter {
    width: 100%;
    height: 100%;
    color: #ad1deb;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.letter-text-box {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
    animation: .3s slideup linear both;
}
@keyframes slideup {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.letter-btn-box {
    width: 80%;
    text-align: center;
}
.letter-btn-box button {
    width: 60%;
    max-width: 200px;
    margin: auto;
    padding: 12px 0px ;
    border-radius: 20px;
    border: none;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    color: white;
    font-size: 18px;
    animation: .5s scaleup .7s linear both;
}
.letter-btn-box button:hover {
    background: white;
    color: #ad1deb;
    border: 1px solid #ad1deb;
}
@keyframes scaleup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scaleup2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.section {
    display: none;
    width: 100%;
    padding: 40px 0px;
    transition: .5s;
}
.imgBox {
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
}
.imgBox img {
    width: 100%;
    margin: auto;
    max-width: 600px;
}
#sec-two {
    padding: 60px 0px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    color: white;
}
.textBox {
    width: 60%;
    margin: auto;
    max-width: 900px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
#sec-three {
    color: #ad1deb;
    padding: 80px 0px;
}
@media only screen and (min-width: 390px) {
    .letter-btn-box button {
        border-radius: 50px;
    }
    .textBox, .letter-text-box {
        font-size: 30px;
        line-height: 45px;
    }
    #sec-two {
        padding: 100px 0px;
    }
}
@media only screen and (min-width: 1000px) {
    .textBox, .letter-text-box {
        font-size: 50px;
        line-height: 75px;
    }   
    .letter-btn-box button {
        border-radius: 50px;
        font-size: 25px;
    }
    #sec-two {
        padding: 100px 0px;
    }
}
